/* ==========================================================================
   Icons size
 ========================================================================== */
.icon-xl {
  width: 1.3em;
  height: 1.3em;
}
.icon-l {
  width: 1.2em;
  height: 1.2em;
}
.icon-m {
  width: 1em;
  height: 1em;
}
.icon-s {
  width: 0.9em;
  height: 0.9em;
}
.icon-xs {
  width: 0.8em;
  height: 0.8em;
}
.icon-xl,
.icon-l,
.icon-m,
.icon-s,
.icon-xs{
  vertical-align: middle;
}
/* ==========================================================================
     Butons
   ========================================================================== */
.btn {
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
}
.link-button {
  padding: 0px;
  border-width: 0px;
  background: transparent;
  font: inherit;
  color: var(--color-primary);
}
.link-button:hover {
  color: var(--color-primary-hover);
  cursor: pointer;
}
.btn__expando-row {
  width: 100%;
  text-align: left;
}
.btn--blue {
  background: var(--color-primary);
  color: var(--color-light);
  border-color: var(--color-primary);
  border-style: solid;
}
.btn--blue:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
  cursor: pointer;
}
.btn--white {
  background-color: var(--color-light);
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}
.btn--white:hover {
  color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
  cursor: pointer;
}
